.pipe-type1 {
  --width: 0.1rem;
  --marginX: 1rem;
}
[class*='pipe-'] {
  display: inline-flex;
  align-items: center;
  /* background: lavenderblush; */
  > * {
    /* 이클래스가 있는 모든 자식들은. before때문에*/
    display: Flex;
    align-items: center;
    + * {
      &::before {
        content: '';
        width: var(--width);
        height: 1rem;
        margin-inline: var(--marginX);
        background: var(--gray700);
      }
    }
  }
}

/* 아래처럼 풀어쓸수있다. */
/* 

.pipe-type1 {
  --width: 0.1rem;
  --marginX: 1rem;
}
[class*='pipe-'] {
  display: flex;
  align-items: center;
  background: lavenderblush;
}
[class*='pipe-'] > * {
  // flex를 주는 이유는 ::before로 만든 세로 구분선 "수직 가운데 정렬" 
  display: Flex;
  align-items: center;
}
  [class*='pipe-'] > * + * ::befone {
    content: '';
    width: var(--width);
    height: 1rem;
    margin-inline: var(--marginX);
    background: var(--gray700);
    }
  }
}

*/
